@charset "utf-8";
/* CSS Document */
ul{list-style: none;}
#slider{width: 610px; margin: 30px 20px 30px 20px; border: solid #333 1px; height: 300px}
.slider{width: 610px; height: 300px; overflow: hidden;}
.slider ul{overflow: hidden;}
.slider ul li {width: 610px; height: 300px; float: left;}
.sliderbutton{ margin-top: -160px;}
.sliderbutton a.onceki{margin-left: 2px;}
.sliderbutton a.sonraki{margin-left: 546px;}

