@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
 }
body 
 { 
 	background-image: url(../img/background.png);
	
 }
.kapsa
 {
	background: #fff;
	margin:0 auto;
	width:980px;	
	border: solid #CCC 2px;
 }
.header
 {
	 background-image:url(../img/banner.png);
	 padding: 0px 30px 0px 30px;
	 margin-bottom: -20px;
	 width: 920px;
	 height: 100px;
 }
.gonullu
 {
	 width: 120px;
	 height: 25px;	 
	 background-color: #CC9;
	 float: left;
	 margin-left: 610px;
	 margin-top: 17px;
	 padding-top: 5px;
	 text-align: center;
	 
 }
.ihtiyac
 {
	 width: 150px;
	 height: 25px;
	 background-color: #CC9;	 
	 float: right;
	 margin-right: 30px;
	 margin-top: 17px;
	 padding-top: 5px;
	 text-align: center;
	 
 }
.sozkosesi
 {
	width: 290px;
	margin-left: 20px;
	margin-right: 20px;
	float: right;
	margin-top: -330px;
 }
.footer 
 {
	background-color: #CCC; 
	text-align: center; 
	margin: 0;
	padding: 15px 0; 
	clear: both
 }
