<!DOCTYPE>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>yardimlasma sitesi</title>
<link rel="stylesheet" href="css/style.css" type="text/css" />
<link rel="stylesheet" href="css/slider.css" type="text/css" />
<script type="text/javascript" src="javascript/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="javascript/slider.js"></script>
<script type="text/javascript" src="javascript/site.js"></script>
</head>
<body>
	<div class="container">
		<!-- HEADER BOLUMU BASLANGIC -->
<header>
	<div class="head_logo">
	    <div class="logo"><a href="index.html"><img src="images/logo.png"></a></div>
       	<div class="head">
        	<div class="parca" style="padding-left: 30px; width: 180px;">
            	
            </div>
            <div class="parca"><a href="gonullu.html"><img src="images/gnllu.png"></a></div>
            <div class="parca"><a href=""><img src="images/ihtycshb.png"></a></div>
        </div>
        <div class="clearboth"></div>
    </div>
    <div class="clearboth"></div>
	<div class="head_menu">
    	<div class="menu_ust">
        	<ul>
            	<li><a href="index.html">ANASAYFA</a></li>
                <li><a href="">PAYLAŞ / TAKİP ET</a></li>
                <li><a href="">HAKKINDA</a></li>
           </ul>
        </div>         
	</div>
</header>
		<!-- HEADER BOLUMU BITIS -->
        <div class="middle" style="height: 630px;">        	
            <div class="girisform">
            	<div class="uyari">Uyarii</div>
				<h1 style="text-align:center;">GİRİŞ YAP</h1>
    				<label><span>KULLANICI ADI: </span><input class="a" type="text"/></label>
					<label><span>ŞİFRE: </span><input class="a" type="text"/></label>
                    <label><input class="a" type="button" value="GİRİŞ YAP" /></label>
            </div>
            <div class="girisform" style="height: 550px;">
            	<div class="uyari">Uyarii</div>
				<h1 style="text-align:center;">ÜYE OL</h1>
    				<label><span>ADINIZ: </span><input class="a" type="text"/></label>
                    <label><span>SOYADINIZ: </span><input class="a" type="text"/></label>
                    <label><span>KULLANICI ADINIZ: </span><input class="a" type="text"/></label>
					<label><span>ŞİFRENİZ: </span><input class="a" type="password" type="text"/></label>
                    <label><span>ŞİFRE TEKRAR: </span><input class="a" type="password" type="text"/></label>
                    <label><input class="a" type="button" value="ÜYE OL" /></label>
            </div>
        </div>
        <div class="footer">
        <div class="extra">Yazı yazabilirsin</div>
		<div class="bilgi">© Web Desing</div>
		<div class="clearboth"></div>
        </div>
    </div>
</body>
</html>
