<!DOCTYPE>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>yardimlasma sitesi</title>
<link rel="stylesheet" href="css/style.css" type="text/css" />
<link rel="stylesheet" href="css/slider.css" type="text/css" />
<script type="text/javascript" src="javascript/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="javascript/slider.js"></script>
<script type="text/javascript" src="javascript/site.js"></script>
</head>
<body>
	<div class="container">
		<!-- HEADER BOLUMU BASLANGIC -->
<header>
	<div class="head_logo">
	    <div class="logo"><a href="index.html"><img src="images/logo.png"></a></div>
       	<div class="head">
        	<div class="parca" style="padding-left: 30px; width: 180px;">
            	aaa
            </div>
            <div class="parca"><a href="gonullu.html"><img src="images/gnllu.png"></a></div>
            <div class="parca"><a href=""><img src="images/ihtycshb.png"></a></div>
        </div>
        <div class="clearboth"></div>
    </div>
    <div class="clearboth"></div>
	<div class="head_menu">
    	<div class="menu_ust">
        
        </div>         
	</div>
</header>
		<!-- HEADER BOLUMU BITIS -->
        <div class="middle" style="height: auto;">        	
        	<div class="mesajbolum">
            	<div class="msjmenu">
                	<div class="mesajism" style="border-top: solid #b44242 2px;">isim</div>
                	<div class="mesajism">isim</div>
                	<div class="mesajism">isim</div>
                	<div class="mesajism">isim</div>
                	<div class="mesajism">isim</div>
                	<div class="mesajism" style="border-bottom: solid #b44242 2px;">isim</div>                    
                </div>
                <div class="mesajknsm">
                	
                    
                    
                <div class="gndr"><label><input type="button" value="GÖNDER" /></label></div>
                </div>
            </div> 
        </div>
        <div class="footer">
        <div class="extra">Yazı yazabilirsin</div>
		<div class="bilgi">© Web Desing</div>
		<div class="clearboth"></div>
        </div>
    </div>
</body>
</html>
