body,html{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-image: url(../images/bg.png);
	list-style-type:none;
}
a{ text-decoration: none; }
.clearboth {clear: both;}
@media only screen and (min-width:1024px){
	.container{
		width: 1024px;
		height: auto;
		margin: 0 auto;
		float: none;
	}
	/* HEADER BASLANGIC */ /* font-family: Showcard Gothic; > kullan */
	header {width: 1024px;}
	header .head_logo {width: 1024px; height: 130px;}
	header .head_logo .logo {width: 300px; padding: 10px 0 0 20px; float: left; }
	header .head_logo .head {width: 680px; padding: 10px 12px 0px 12px; float: left; display: block; }
	header .head_logo .head .parca { width: 205px; float:left; padding: 0px 11px 0px 10px;}
	/*---------------------------------------------------------------------------------------------------*/
		/* MENU BASLANGIC */
	header .head_menu {	width: 1024px;  height: 41px; background: url(../images/header_bar_bg.png);}
	header .head_menu .menu_ust ul li {line-height: 41px; font-size: 16px; font-weight: bolder; float :left; margin: 0px 60px  0px 110px; list-style-type:none;}
	header .head_menu .menu_ust ul li a {color: #ffffff; text-decoration: none; padding: 10px; dispaly: block; background: url(../images/header_menu_bg.png);}
	header .head_menu .menu_ust ul li a:hover {color: #650000; text-shadow: 1px 1px 0px #e66969;}
		/*MENU BITIS*/
	/* HEADER BITIS */
	/* SLİDER YAPIM BASLANGICI */
	
	/* SLİDER YAPIM BITISI */
	
	.middle{
		width:1024px;
		height:500px;
		padding-top: 30px;}
	.sozkosesi{	
		float: right;
		width: 290px;
		height: 465px;
		background-color: #e0e0e0;
		margin-right: 30px;
		margin-top: -330px;
		margin-bottom: 30px;
		padding: 0px;}
	.sozkosesi h2{
		margin-top: 1px;
		padding: 8px;
		background:url(../images/menu_baslik.png) repeat-x;			
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		width:275px;		
		text-align: center;
		text-decoration: none;
		font-size: 24px; font-weight: bolder;
		color:#FFF;}
	.sozkosesi ul{
		margin-left:-15px;
		margin-top: -10px;}
	.sozkosesi ul li{
		list-style-type:none;
		font-size: 18px;		
		display: block;
		color: #4a4a4a;
		text-shadow: 1px 1px 0px #f5f5f5;
		padding: 0px 5px 7px 20px;
		background: url(../images/menu_ikon.png) no-repeat;
		background-position: 3px 10px;}
	.uyari{
		width:240px;
		margin-left: 50px;
		margin-right: 45px;
		margin-bottom: 60px;		
		text-align: center;
		padding: 10px;
		background-color:#b21414;
		font-size: 24px;
		font-family: Arial, Helvetica, sans-serif;
		color:#fff;
		font-weight: bolder;
		border: 1px solid #999;
  		border: inset 1px solid #fff;
  		-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  		-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  		box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);}	
	.girisform,form{
		width: 380px;
		margin: 0px 30px;
		float: left;
		height:410px;		
		position: relative;
		padding: 30px;
		border-radius: 10px;
		border: 1px solid #999;
  		border: inset 1px solid #333;
  		-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  		-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  		box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
		line-height: 24px;
  		font-weight: bold;
		text-decoration: none;}
	h1{
		font-family:"Comic Sans MS", cursive;
		font-size: 25px;}
	input.a{
  		width: 375px;
  		display: block;
  		border: 2px solid #999;
  		height: 30px;
  		-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  		-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  		box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
		margin-bottom:10px;
		margin-top: 10px;}	
	inpu.a:focus{
  		border: 1px solid #09C;}
	button.a{
  		width: 100px;
 		position: absolute;
  		right: 20px;
  		bottom: 20px;  		
  		color: #fff;
  		font-family: Tahoma, Geneva, sans-serif;
  		height: 30px;
  		border-radius: 30px;
  		border: 3px solid #999;}
	.mesajbolum{
		width:990px;
		height:500px;		
		padding-top: 30px;
		padding-left:30px;}	
	.msjmenu{
		width:220px;
		height: auto;
	}
	.mesajism{
		width: 210px;
		height: 15px;
		float:left;
		text-align: center;
		padding: 15px 15px 20px 15px;
		background-color:#e2e2e2;
		border: solid #b44242 1px; 
		font-size: 22px; 
		font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;}
	.yenimsj{
		width: 210px;
		height: 15px;
		float:left;
		text-align: center;
		padding: 15px 15px 20px 15px;
		background-color:#CCCCCC;
		border: solid #b44242 1px; 
		font-size: 22px; 
		font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; }
	.mesajknsm{
		width: 670px;
		height: auto;
		float: left;
		margin-left: 30px;
		}
	.gndrad{
		width: auto;
		height: 20px;
		padding: 10px 10px 5px 10px;}
	.gndrad a{
		text-decoration: none;}
	.msjicrk{
		width: 550px;
		height: auto;
		padding: 5px  20px  25px  10px;
		margin-left: 30px;
		border: solid #b44242 1px;}
	.msjyaz{
		margin-left: 50px;
		margin-top: 10px;
	}
	.gndr input{
		width: 100px;  		
  		border: 2px solid #43609c;
  		height: 50px;
  		-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  		-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  		box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
		font-family:Verdana, Genev"Courier New", Courier, monospace;
		font-size: 16px;
		float: right;}
	.trh{
		width: auto;
		height: 10px;
		float: right;
		color: #CCC;}
	.saat{
		width: auto;
		height: 10px;
		float: right;
		margin-top: 20px;
		margin-right: -50px;
		color: #CCC;}
	.adminmenu{
		width: 1024px;
		height: 30px;
		margin-top: -36px;
		}
	.adminmenu ul li{
		font-family: Georgia, "Times New Roman", Times, serif;
		font-size: 20px; 
		font-weight: bolder; 
		float: right;
		display:block;		
		list-style-type:none;
		padding: 5px  5px  5px  5px;
		border:1px solid #ad0b0b;
	}	
	.adminmenu ul li a {color: #ad0b0b; text-decoration: none; padding: 10px; dispaly: block;}
		.rzrvedilmis{
			width: 780px;
			height: 450px;
			margin-left: 100px;
			padding: 10px 20px;}
		.rzrvsolresim{
			width: 200px;
			height: 200px;			
			float:left;
			margin-top: 20px;}
		.rzrvurunbaslik{
			width: 460px;
			float: left;
			padding: 10px 10px 10px 30px;
			margin-top: 20px;
			margin-left: 20px; 
			border: 1px solid #ad0b0b}
		.rzrvaciklama{
			width: 440px;			
			margin-left: 20px;
			float: left;
			padding: 10px 10px 10px 50px;
			border-bottom: 1px solid #ad0b0b;
			border-left: 1px solid #ad0b0b;
			border-right: 1px solid #ad0b0b;}
		.rzrvbtn input{
			width: 140px;
			border: 2px solid #43609c;
			padding: 7px;
			float: right;
			margin-right: 70px;
			margin-top: 30px;
			color: #333;
			font-size: 18px;
			font-family: Verdana, Genev"Courier New", Courier, monospace;
			-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  		    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  		     box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);}
		.urnaldm{ float: right; border-left: 1px solid #ad0b0b; padding-left: 5px;}
		.urnaldm a{ text-decoration: none; color: #c69291; font-size: 18x;}
		.urnaldm a:hover{ color: #900808; font-size: 18x}
	.girisform2,form{
		width: 380px;
		margin: 0px 30px;
		height:820px;		
		position: relative;
		padding: 30px;
		border-radius: 10px;
		border: 1px solid #999;
  		border: inset 1px solid #333;
  		-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  		-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  		box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
		line-height: 24px;
  		font-weight: bold;
		text-decoration: none;}	
	.kapsa{
		width: 850px;
		height: 450px;
		margin: 0 auto;
		padding: 5px 10px;
		border: 2px solid #ad0b0b}
	.baslik{
		margin-top: 15px;
		padding: 15px 15px 15px 40px;		
		font-family: Verdana, Geneva, sans-serif;
		font-size: 21px;
		font-weight: bold;}
	.bldrmkps{
		margin-top: 15px;
		padding: 15px 15px 15px 40px;
		border: 3px solid #CCC;
		height: auto;}
	.bldrmicrk{
		padding: 15px 25px;
		border: 1px solid #CCC; 
		margin-bottom: 10px;
		font-family: Tahoma, Geneva, sans-serif;
		font-size: 18px;}
	.kapsa2{
		width: 850px;
		height: 500px;
		margin: 0 auto;
		border: 2px solid #ad0b0b}
	.ihtiycsolmenu{
		width: 200px;
		height: 456px; // burayı auto da yaparsan daha güzel olur.
		background-color: #d2d2d2;
		margin-top: -17px;}
	.ihtiycsolmenu ul{		
		border: 1px solid #ad0b0b;
		padding: 0 }
	.ihtiycsolmenu ul li{
		width: 100%;
		list-style:none;}
	.ihtiycsolmenu ul li a{
		display: block;
		color: #4a4a4a;
		text-shadow: 4px 4px 4px #f5f5f5;
		text-decoration: none;
		font-weight: bolder;
		padding: 10px  10px  10px  20px;}
	.ihtiycsolmenu ul li a:hover{
		color: #fff;
		text-shadow: none;
		background: #333;}
	.ihtiycicerik{
		width: 570px;
		height: 387px;
		margin-top: -456px;
		float:right;
		background-color: #efefef;
		padding: 20px 50px 50px 30px;}
	.ihtycbaslik{
		width: auto;
		padding: 15px 30px;
		background-color: #646464;
		color: #fff;
		font-family: Monaco, monospace;
		font-size: 22px;}
	
	.footer {
		width: 1024px; 		
		margin: 0 auto;
		color: #fff;
		background: url(../images/footer_bg.png) repeat-x;
		heigght: 41px;
		line-height:41px;		
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;}	
	.footer .bilgi {float: right;padding: 0 20px 0 0;}
	.footer .extra {float: left;padding: 0 0 0 20px;}
}
@media only screen and (min-width:768px) and (max-width:1023px) {
	
}
@media only screen and (min-width:480px) and (max-width:767px){
	
}
@media only screen and (max-width:480px){
	
}